.match-settings h1 {
  text-align: center;
}

.match-settings-form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.match-settings-form label {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: min-content;
}
